body,button,input,select,textarea,h1,h2,h3,h4,h5,h6 {
	font-family: Microsoft YaHei, 'ו', Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}
.input-group {
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 10px;
	font-size: 0px;
	vertical-align: middle;
}

.input-control {
	font-size: 14px; position : relative;
	margin-bottom: 0px;
	vertical-align: top;
	-wekit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	position: relative;
}

.input-group-addon {
	border: #ccc 1px solid;
	min-width: 30px;
	text-align: center;
	padding-bottom: 4px;
	line-height: 20px;
	background-color: #eee;
	padding-left: 5px;
	width: auto;
	padding-right: 5px;
	display: inline-block;
	height: 18px;
	font-size: 14px;
	font-weight: normal;
	padding-top: 4px;
	text-shadow: 0 1px 0 #fff;
	vertical-align: top;
	-wekit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-left: -1px;
}
.accordion-group
{
	border: #e5e5e5 1px solid;
	margin-bottom: 2px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.accordion-heading{
	border-bottom: 0px;
	font-size: 20px

}
.accordion-toggle{
	padding-bottom: 8px;
	padding-left:15px;
	padding-right: 15px;
	display: block;
	padding-top: 8px;
}
.collapse{
 position: relative;
 height:0px;
 overflow: hidden;
 	-webkit-border-radius:height 0.35s ease;
	-moz-border-radius:height 0.35s ease;
	-ms-transition:height 0.35s ease;
	-o-transition:height 0.35s ease;
	transiton:height 0.35s ease;
}
.accordion-inner{
	padding-bottom: 9px;
	padding-left:15px;
	padding-right: 15px;
	border-top: #e5e5e5 1px solid;
	padding-top: 9px;
}
